{% extends 'base.html.twig' %} {% block title %}CalculatriceController!{%
endblock %} {% block body %}
<h1>Calculatrice</h1>
<form method="POST">
  <lable for="x">Premier nombre</lable>
  <input type="number" name="x" id="x" />

  <lable for="y">Secong nombre</lable>
  <input type="number" name="y" id="y" />

  <lable for="operation">Operation</lable>
  <select name="operation" id="operation">
    <option value="addition">+</option>
    <option value="soustraction">-</option>
    <option value="multiplication">*</option>
    <option value="division">/</option>
  </select>

  <button type="submit">Calculer</button>
</form>

 {% endblock %}
