{% extends 'base.html.twig' %}

{% block title %}page multiplication!{% endblock %}

{% block body %}

 

  <h1>Multiplication:</h1>

  <p>Le resultat de {{x}} * {{y}} = {{total}} </p>
    
  <p>
    <a href="{{ path('app_calculatrice')}}">Retour</a>
  </p>


{% endblock %}