{% extends 'base.html.twig' %}

{% block title %}page soustraction!{% endblock %}

{% block body %}

 

  <h1>Soustraction:</h1>

  <p>Le resultat de {{x}} - {{y}} = {{total}} </p>
    



{% endblock %}